customPath = "./bin:$PATH"


if ("$EXECUTOR" != 'k8s') {
  executor = "local"
  workDir = "./workspace"
} else {
  executor = "k8s"
  workDir = "/workspace"
}

process {
   executor = executor
}

k8s {
   namespace        = 'default'

   serviceAccount   = 'nextflow-bot'
   computeResourceType = 'Job'
   storageClaimName = 'nextflow-fss-claim'
   storageMountPath = '/workspace'
}
