
trace {
    enabled = true
    file = 'trace.txt'
    overwrite = true
    fields = 'task_id,hash,native_id,name,status,exit,submit,duration,%cpu,rss,vmem,rchar,wchar,attempt,env,hostname'
}
report {
    overwrite = true
}

params {
    testing = ''
    test_container = ''
}

profiles {
    local {
        params {
            uploads_bucket = "$projectDir/data/uploads"
            inputs_bucket = "$projectDir/data/inputs"
            outputs_bucket = "$projectDir/data/outputs"
            relatedness_bucket = "$projectDir/data/relatedness"
            knowledge_bucket = "$projectDir/data/relatedness/knowledge"
            kraken2_db_path = "$projectDir/data/relatedness/knowledge/kraken2_db"
        }
        process {
            executor = 'local'
        }
        docker.enabled = true
        env.WORKSPACE = 'offline'
    }

    mini {
        process {
            executor = 'k8s'
        }
        k8s {
            workDir = '/workspace'
            namespace        = 'default'

            serviceAccount   = 'default'
            computeResourceType = 'Job'
            storageClaimName = 'standard'
            storageMountPath = '/workspace'
        }
    }

    kubernetes {
        params {
            uploads_bucket = '/workspace/buckets/upload_bucket'
            inputs_bucket = '/workspace/buckets/input_bucket'
            outputs_bucket = '/workspace/buckets/output_bucket'
            relatedness_bucket = '/workspace/buckets/relatedness_bucket'
            knowledge_bucket = '/workspace/buckets/relatedness_bucket/knowledge'
            kraken2_db_path = "$projectDir/kraken2_db"
        }
        process {
            executor = 'k8s'
            container = 'lhr.ocir.io/lrbvkel2wjot/gpas/pipeline-utils:v0.0.2'
            maxRetries = 4
            errorStrategy = {
                sleep(60 * Math.pow(2, task.attempt) as long)
                task.attempt <= maxRetries ? 'retry' : 'terminate'
            }
            resourceLimits = [
              cpus: 8,
              time: 3.h
            ]
        }
        k8s {
            workDir = '/workspace'
            namespace        = 'default'

            serviceAccount   = 'nextflow-bot'
            computeResourceType = 'Job'
            storageClaimName = 'nextflow-fss-claim'
            storageMountPath = '/workspace'
            launchDir = '/workspace/runs'
            projectDir = '/workspace/project'
            pod = [
                [privileged: true],
                [secret: 'nextflow-api-key-secret', mountPath: '/etc/nextflow-api-key'],
                [imagePullSecret: 'ocir-pull-image-secret'],
                [hostPath: '/buckets', mountPath: '/workspace/buckets'],
                [annotation: 'cluster-autoscaler.kubernetes.io/safe-to-evict', value: 'false'],
                [
                    affinity: [
                        podAffinity: [
                            requiredDuringSchedulingIgnoredDuringExecution: [[
                                labelSelector:
                                    [matchExpressions: [
                                        [key: 'mounter-ready', operator: 'In', values: ['true']]
                                ]],
                                topologyKey: 'kubernetes.io/hostname'
                            ]]
                        ]
                    ]
                ]
            ]
            fetchNodeName = true
            maxErrorRetry = 4
        }
    }
}
