customPath = "./bin:$PATH"


=======
profiles {
    local {
        process {
            executor = 'local'
        }
    }

    mini {
        process {
            executor = "k8s"
        }
        k8s {
            workDir = "/workspace"
            namespace        = 'default'

            serviceAccount   = 'default'
            computeResourceType = 'Job'
            storageClaimName = 'standard'
            storageMountPath = '/workspace'
      }
    }

    kubernetes {
        process {
            executor = "k8s"
        }
        k8s {
            workDir = "/workspace"
            namespace        = 'default'

            serviceAccount   = 'nextflow-bot'
            computeResourceType = 'Job'
            storageClaimName = 'nextflow-fss-claim'
            storageMountPath = '/workspace'
      }
    }

}

profiles {
    kubernetes {}
    docker {
        process.executer = 'local'
        docker.enabled = true
        fixOwnership = true
        docker.runOptions = "-u \$(id -u):\$(id -g) --network host"
        process.cpus = 6
        process.memory = "16GB"
        docker.registry = "lhr.ocir.io"
        process.container = "lhr.ocir.io/lrbvkel2wjot/oxfordmmm/fn5:latest"
    }
}