params {
    help = ''
    db_path = ''
    bucket = ''
    sample = ''
    species = 'tb'
    api_url = ''
    api_token = ''
}
profiles {
    kubernetes {
        k8s {
            namespace = 'default'
            storageClaimName = 'default-nextflow-fss-storage-work-pvc'
            storageMountPath = '/work'
            launchDir = "/work/runs/${params.sample}"

            serviceAccount = 'default'
            projectDir = '/work/project'
            pod = [
                [label: 'pod-type', value: 'nextflow-worker'],
                [volumeClaim: 'default-nextflow-fss-storage-data-pvc', mountPath: '/data'],
                [imagePullPolicy: 'IfNotPresent']
            ]
        }
        docker.enabled = true
        process.executor = 'k8s'
        process.cpus = 6
        process.memory = "8GB"
        process.container = 'lhr.ocir.io/lrbvkel2wjot/oxfordmmm/fn5:latest'
    }
    docker {
        process.executor = 'local'
        docker.enabled = true
        fixOwnership = true
        docker.runOptions = "-u \$(id -u):\$(id -g) --network host"
        process.cpus = 6
        process.memory = "8GB"
        docker.registry = "lhr.ocir.io"
        process.container = "lhr.ocir.io/lrbvkel2wjot/oxfordmmm/fn5:latest"
    }
}