customPath = "./bin:$PATH"

profiles {
    local {
        process {
            executor = 'local'
            cpus = 6
            memory = "16GB"
        }
        docker {
            enabled = true
            runOptions = "--network host"
            registry = "lhr.ocir.io"
        }
        fixOwnership = true
    }

    mini {
        process {
            executor = "k8s"
        }
        k8s {
            workDir = "/workspace"
            namespace        = 'default'

            serviceAccount   = 'default'
            computeResourceType = 'Job'
            storageClaimName = 'standard'
            storageMountPath = '/workspace'
      }
    }

    kubernetes {
        process {
            executor = "k8s"
        }
        k8s {
            workDir = "/workspace"
            namespace        = 'default'

            serviceAccount   = 'nextflow-bot'
            computeResourceType = 'Job'
            storageClaimName = 'nextflow-fss-claim'
            storageMountPath = '/workspace'
      }
    }

}